.container{
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  padding: 2rem;
  max-width: 144rem;
  margin: 0 auto;
  display:grid;
  grid-template-rows: repeat(2, max-content) 1fr repeat(3, max-content);
  align-items: center;
}
.layout{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
}
.footer{
  width: 100%;
  margin-top: 1rem;
  display: grid;
}
.footerText{
  font-size: 3.2rem;
  justify-self: flex-end;
  width: max-content;
  display: block;
}
.bottomFooter{
  display: none;
}
.bottomLink{
  border: .2rem solid var(--primary-color);
  padding: .8rem;
  font-size: 1.8rem;
  min-width: 9rem;
  text-align: center;
}
.bottomLink.active{
  font-weight: 600;
}

@media screen and (max-width: 750px){
  .footerText{
    display: none;
  }
  .bottomFooter{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width:100%;
    gap: .8rem;
  }
}