.planningDetail{
  border-left: solid .2rem var(--primary-color);
  width: 100%;
  height: 100%;
}
.filterButton{
  display: flex;
  flex-flow: row;
  gap: 1rem;
  padding: 1rem;
  border: solid .2rem var(--primary-color);
  width: max-content;
  align-items: center;
}
.filterButton:hover{
  cursor: pointer;
}
.filterButton span{
  font-weight: 500;
  font-size: 1.8rem;
}
.filterButton img{
  width: 2.4rem;
}