.loadingContainer{
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  grid-auto-rows: max-content;
  text-align: center;
  align-self: center;
}
.container{
  display:grid;
  width: 100%;
  height:100%;
  border-left: solid .2rem var(--primary-color);
  grid-auto-rows: max-content;
}
.searchSave{
  display:grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  width: 100%;
} 
.searchBar, .saveWork{
  border: .2rem var(--primary-color);
  border-style: none solid solid none;
  padding: 2rem;
  display: flex;
  flex-flow: row;
  gap: 2rem;
  font-size: 1.8rem;
  align-items: center;
}
.saveWork:hover{
  cursor: pointer;
}
.saveWork.saved{
  background-color: var(--primary-color);
  color: white;
}
.searchBar input{
  width: 100%;
  font-size: 1.8rem;
  vertical-align: middle;
  border: none;
  font-family: 'Poppins', sans-serif;
}
.searchBar input:focus{
  outline: none;
}
.infoContainer{
  padding: 2rem;
  display:grid;
  gap: 1rem;
}
.infoContainer h4{
  font-size: 2rem;
  font-weight: 600;
}
.subjectTitle {
  font-style: italic;
  font-weight: 300;
  font-size: 1.8rem;
}
.projectBrief{
  line-height: 1.2;
  font-size: 1.6rem;
  font-weight: 400;
}