.title {
  composes: title from "../styles/typo.module.css";
}
.titleMini {
  composes: titleMini from "../styles/typo.module.css";
}
.wrapper{
  grid-template-areas: '. search';
}
.container{
  width: 100%;
  border-left: solid .2rem var(--primary-color);
  grid-area: search;
}
.searchResults{
  width: 100%;
  height:100%;
  display: grid;
  justify-content: center;
  grid-auto-rows: max-content;
  grid-template-columns: 90%;
  padding: 2rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  gap: 1.6rem;
}
.searchResults::-webkit-scrollbar {
  display: none;
}
.noResults{
  font-size: 1.8rem;
  color: var(--gray-color);
  font-weight: 300;
  text-align: center;
}
.searchBar{
  width: 100%;
  border: .2rem var(--primary-color);
  border-style: none solid solid none;
  padding: 2rem;
  display: flex;
  flex-flow: row;
  gap: 2rem;
}
.searchBar input{ 
  width: 100%;
  font-size: 1.8rem;
  border: none;
  font-family: 'Poppins', sans-serif;
}
.searchBar input:focus{
  outline: none;
}
.searchSubjects{
  display:grid;
  gap: 2rem;
  font-size: 2rem;
  font-style: italic;
  padding: 2rem;
  overflow: hidden;
  max-height: 100%;
}
.searchSubjects li:hover{
  cursor: pointer;
}
.activeSubject{
  font-weight: 600;
  font-style: normal;
}
.activeSubject::after{
  content: '';
  display: inline-block;
  width: 3rem;
  height: .2rem;
  background-color: var(--primary-color);
  vertical-align: middle;
  margin-left: .8rem;
}
.leftContainer{
  position: relative;
}
.backgroundRaster{
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  left:0;
  top:0;
  padding: 1.6rem;
}
.filterSort{
  display:flex;
  padding: 1.6rem;
  flex-flow: row wrap;
  gap: 1.6rem;
}
.filterWrapper{
  position: relative;
}
.filterSortButton{
  display:grid;
  grid-template-columns: 2.4rem 1fr;
  gap: .8rem;
  align-items: center;
  border: solid .2rem var(--primary-color);
  padding: .8rem;
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
}
.filterSortButton:hover, .contentList:hover{
  cursor: pointer;
}
.filterSortButton img{
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
}
.filterWrapper .contentList{
  position: absolute;
  border: .2rem solid var(--primary-color);
  top: 0rem;
  left: 100%;
  z-index: 99;
  background-color: var(--white-color);
  display:none;
  font-weight: 400;
  font-size: 1.6rem;
  width: max-content;
}
.contentList.active{
  display:grid;

}
.contentList li{
  padding: .8rem;
}
.contentList li.selected{
  font-weight: 600;
}
@media screen and (max-width:1000px){
  .wrapper{
    grid-template-areas: unset;
    grid-template-rows: max-content ;
  }
  .container{
    grid-area: unset;
    border-left: none;
    overflow: hidden;
  }
  .searchBar{
    border-left: solid .2rem var(--primary-color);
  }
  .collapsed{
    height: 0;
    padding:0;
  }
}
