.title {
  composes: title from "../styles/typo.module.css";
}
.titleMini {
  composes: titleMini from "../styles/typo.module.css";
}
.container{
  width: 100%;
  height:100%;
  border-left: solid .2rem var(--primary-color);
}
.searchResults{
  width: 100%;
  height:100%;
  display: grid;
  justify-content: center;
  grid-auto-rows: max-content;
  grid-template-columns: 90%;
  padding: 2rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.searchResults::-webkit-scrollbar {
  display: none;
}
.noResults{
  font-size: 1.8rem;
  color: var(--gray-color);
  font-weight: 300;
  text-align: center;
}
.searchBar{
  width: 100%;
  border: .2rem var(--primary-color);
  border-style: none solid solid none;
  padding: 2rem;
  display: flex;
  flex-flow: row;
  gap: 2rem;
}
.searchBar input{ 
  width: 100%;
  font-size: 1.8rem;
  border: none;
  font-family: 'Poppins', sans-serif;
}
.searchBar input:focus{
  outline: none;
}