.toolbarText{
  font-size: 1.4rem;
  color: var(--primary-color);
  text-align: center;
  margin: 2rem auto;
}
.propGrid{
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 5fr;
}
.propTitle{
  font-size: 1.4rem;
  text-decoration: underline;
}
.propSummary{
  font-size: 1.4rem;
}
.placeholderContainer{
  padding: 1rem;
  display: grid;
  align-self: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.toolbarItemLabel{
  font-size: 1.2rem;
  color: var(--gray-color);
}