.form {
  display: flex;
}
.input {
  width: 50%;
  font-size: var(--font-base);
  padding: 2rem 2rem;
  border: .1rem solid var(--gray-light-color);
  /* border-top-width: 0; */
}
.input:first-child {
  border-left-width: 0;
  border-right-width: 0;
}
.input:last-child {
  border-right-width: 0;
}

.formAdd {
  margin-bottom: 2rem;
}
.formAdd .input:nth-child(2) {
  border-right-width: 0;
}

.button {
  composes: button  from "../styles/uiControls.module.css";
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
  width: calc(100% - 4rem);
}

.preview {
  display: flex;
  font-size: var(--font-base);
  padding: 2rem;
  border-bottom: .1rem solid var(--gray-light-color);
}
.itemButtonNoMargin {
  composes: itemButton  from "./PriceList.module.css";
  margin-left: 0;
  border-radius: 0;
}