.orders {
  margin-top: .8rem;
  border-radius: .4rem;
}
.order {
  font-size: var(--font-base);
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-weight: 400;
}
.orders:first-child {
  padding-top: .6rem;
}
.orders:last-child {
  padding-top: .6rem;
}

.name {
  flex-grow: 1;
}
.amount {
  display: inline-block;
  color: var(--primary-color);
  margin-right: .5rem;
  min-width: 3rem;
}
.remove {
  color: var(--gray-color);
  padding-left: 0.8rem;
  padding-right: 0;
  font-size: 1.7rem;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.total {
  display: flex;
  font-size: var(--font-base);
  font-weight: 400;
  padding-top: 1.7rem;
  margin-top: 1rem;
  border-top: .1rem solid var(--gray-light-color);
}
.totalLabel {
  flex-grow: 1;
} 

.emptyState {
  font-size: var(--font-base);
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.emptyState img {
  max-width: 14rem;
  margin-bottom: 1.5rem;
}