.title {
  composes: title from "../styles/typo.module.css";
}

.home {
  composes:titleMini from "../styles/typo.module.css";
}

.header {
  text-align: left;
  padding: 3rem 2rem;
  border-radius: .7rem .7rem 0 0;
  background-color: var(--primary-color) ;
  background-image: url("/assets/img/grain.png"), url("/assets/img/pintjes.svg");
  background-repeat: repeat, no-repeat;
  background-position: 0 0, calc(100% - 2rem) 1.7rem;
  background-size: auto, 22%;
}
.header h1 {
  margin-bottom: 0;
  max-width: 70%;
}

