.tabBar {
  width: 100%;
  color: #fff;
  background: #2F3545;
  position: absolute;
  bottom: 0;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  border-radius: 0 0 .7rem .7rem;

  display: flex;
  justify-content: space-around;
}
.tabBar svg {
  display: block;
  max-height: 3rem;
  margin-bottom: .5rem;
}
.tabBar a {
  color: #969696;
}
.tabBar .active {
  color: #fff;
}
.tabBar .active svg { fill: #fff; }