.gridLayout{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.content {
  align-self: center;
  justify-self: center;
  padding: 2.5rem 2rem;
}
.centeredContent{
  display:grid;
  justify-content: center;
  align-items: center;
}
.contentNoSpace {
  padding: 0;
  padding-bottom: 9rem;
}